.rootLayout {
  padding: 16px 64px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 8px;

      img {
        width: 45px;
        height: 45px;
      }
    }
  }

  main {
    background: #011e27;
    background: radial-gradient(at center, #011e27, #010312);
    flex: 1;
    overflow: hidden;
  }
}
